@charset "UTF-8"

@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(imagens/back-print.jpg);
    }
    main {
        border: 2px solid black;
    }
    main h1 {
        text-shadow: none;
        color: black;
    }
}

@media screen and (max-width: 760px) {
    main { 
        width: 500px;
    }

    img#imp { display: none; }
    img#cel { display: block; }
    img#tab { display: none; }
    img#tab { display: none; }
    img#not { display: none; }
    img#tv  { display: none; }
}

@media screen and (min-width: 760px) and (max-width: 992px) {
    body {
        background-image: url(imagens/back-tablet.jpg);
    }

    main { 
        width: 600px;
    }

    img#imp { display: none; }
    img#cel { display: none; }
    img#tab { display: block;}
    img#not { display: none; }
    img#tv  { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(imagens/back-pc.jpg);
    }
    
    main { 
        width: 700px;
    }
    
    img#imp { display: none; }
    img#cel { display: none; }
    img#tab { display: none;}
    img#not { display: block; }
    img#tv  { display: none; }
}

@media screen and (min-width:1200px) {
    body {
        background-image: url(imagens/back-tv.jpg);
    }

    main { 
        width: 700px;
    }

    img#imp { display: none; }
    img#cel { display: none; }
    img#tab { display: none; }
    img#not { display: none; }
    img#tv  { display: block; }
    
}
