@charset "UTF-8"

/* Configurações gerais*/

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
}
h1 {
    color: white;
    text-shadow: 2px 2px 0px #1526a7;
    padding: 10px;
}
@media screen and (min-width: 300px) {
body {
    background-image: url(imagens/cev-portrait.jpg);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
}
@media screen and (max-width: 2000px) {
body {
    background-image: url(imagens/cev-landscape.jpg);
    background-position: left bottom;
}
}
